.forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.forgot-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.forgot-password-container form {
    display: flex;
    flex-direction: column;
}

.forgot-password-container label {
    margin-bottom: 10px;
}

.forgot-password-container input[type='email'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.forgot-password-container button[type='submit'] {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.forgot-password-container p {
    margin-top: 10px;
    color: #555;
}
.logo {
    display: flex;
    justify-content: center;
    // width: 100px;
    height: 100px;
}
.undo-login {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: blue;
    font-weight: 500;
    font-size: 12px;
}
