@media screen and (min-width: 1024px) {
    .navigation-drawer {
        max-height: calc(100vh - 100px);
        overflow-y: auto;
    }
}
.lazy-img {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

.rounded-inherit {
    border-radius: inherit;
}
.object-contain {
    -o-object-fit: contain;
    object-fit: contain;
}
.name {
    color: #222;
}
.text-tn {
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: +0.024em;
}
.userName,
.question-grade,
.final-grade {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
