.btn-create {
    padding: 10px;
    margin: 10px;
    color: aliceblue;
    border-radius: 24px;
}
.btn-create:hover {
    opacity: 0.8;
    color: rgb(171, 205, 205);
}
.icon-copy {
    font-size: 20px;
    color: rgb(63, 63, 163);
    margin-left: 10px;
    border: 4px;
}
.icon-copy:hover {
    color: rgb(130, 140, 25);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.0509803922), -4px 6px 8px 4px rgba(0, 0, 0, 0.0509803922),
        4px 6px 8px 4px rgba(0, 0, 0, 0.0509803922);
}
